@{
    ViewData["Title"] = "Welcome!";
}

<div>
    <h1>Welcome to the 4 Quadrant Task Manager!</h1>
</div>
<div>
    <p>
        This website has been created to help people improve their lives by following the guidance of renowned self-help author Stephen Covey.
    </p>
    <p>
        In his book, "7 Habits of Highly Effective People", Stephen introduces a time management matrix, shown below.
    </p>
    <img style="width:500px;" src="~/img/matrix.jpg" />
    <p>
        As denoted in the matrix, there are 2 deciding factors: Urgency and Importance <br />
        Urgent tasks require immediate attention, but may not be important<br />
        Important tasks provide results, and may contribute to our goals.<br />
        Here are a few things that Mr. Covey has to say about these quadrants:
        <ul>
            <li>"We react to urgent matters [while] important matters require proactivity"</li>
            <li>"Focus on Q1 will result in it getting bigger"</li>
            <li>"Effective people stay out of Q3 and Q4"</li>
            <li>"Q2 is the heart of effective personal management"</li>
            <li>"The only place to get time for Q2 is from Q3 and Q4"</li>
        </ul>
        We hope that these principles and this website will help you become a "highly effective" person.<br />
        If you would like to learn more, check out his book!
    </p>
</div>
