@*
*@
@{
    ViewData["Title"] = "Task Form";
}
@model mission08_group3_8.Models.ApplicationResponse
<!-- at model mission08_group3_8.Models.Task-->
<form method="post">
    <div asp-validation-summary="All"></div>
    <!--asp-for="Task">-->
    <label asp-for="Task">Task</label>
    <input asp-for="Task"/> <br /><br />
    <!--asp-for="Date"-->
    <label asp-for="DueDate">Due Date</label>
    <input type="date" asp-for="DueDate"/><br /><br />
    <!--asp-for="Quadrant"-->
    <label asp-for="Quadrant">Quadrant</label>
    <input asp-for="Quadrant"/><br /><br />
    <!--asp-for="Category"-->
    <label asp-for="CategoryID">Category</label>
    <select asp-for="CategoryID">
        @foreach (Category m in ViewBag.Categories)
        {
            <option value="@m.CategoryID">@m.CategoryName</option>
        }
    </select>
    <br /><br />
    <!--asp-for="Completed"-->
    <label asp-for="Completed">Completed</label>
    <input type="radio" value="true" asp-for="Completed"/>Yes
    <input type="radio" value="false"  asp-for="Completed"/>No <br /><br />
    <button type="submit">Submit</button>
</form>