@*
*@
@{
    ViewData["Title"] = "Task Form";
}
<form>
    <label>Task</label>
    <input /> <br />
    <label>Due Date</label>
    <input /><br />
    <label>Quadrant</label>
    <input /><br />
    <label>Category</label>
    <select>
        <option>Home</option>
        <option>School</option>
        <option>Work</option>
        <option>Church</option>
    </select><br />
    <label>Completed</label>
    <input type="radio" value="true"/>Yes
    <input type="radio" value="false"/>No

</form>