@*
*@
@{
    ViewData["Title"] = "Task Form";
}
@model mission08_group3_8.Models.ApplicationResponse
<form method="post">
    <div asp-validation-summary="All"></div>
    
    <label asp-for="Task">Task</label>
    <input asp-for="Task"/> <br /><br />
    
    <label asp-for="DueDate">Due Date</label>
    <input type="date" asp-for="DueDate"/><br /><br />
   
    <label asp-for="Quadrant">Quadrant</label>
    <input asp-for="Quadrant"/><br /><br />
    <!---->
    <label asp-for="Category">Category</label>
    <select asp-for="CategoryID">
        <option value="">Select a Category</option>
        @foreach (Category c in ViewBag.Categories)
        {
            <option value="@c.CategoryID">@c.CategoryName</option>
        }
    </select><br /><br />
    <!---->
    <label asp-for="Completed">Completed</label>
    <input asp-for="Completed" type="radio" value="true" />Yes
    <input asp-for="Completed" type="radio" value="false" />No <br /><br />
    <button type="submit">Submit</button>
</form>